<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <link rel='stylesheet' href='//at.alicdn.com/t/font_491734_5q9bhssv2t9.css'/>
  </head>
  <body>
    <div class="header">
	    <img src="/images/daohang.png" alt="图片" />
	    <ul>
	    	<li>
	    		<i class="iconfont icon-shouye"></i>
	    		起始页
	    	</li>
	    	<b>|</b>
	    	<li>
	    		<i class="iconfont icon-dianshi"></i>
	    		设置导航栏
	    	</li>
	    	<b>|</b>
	    	<li>
	    		<i class="iconfont icon-wenjian"></i>
	    		请点红字
	    		<span>6</span>
	    	</li>
	    	<b>|</b>
	    	<li>
	    		<i class="iconfont icon-iconfuzhi"></i>
	    		请点红字
	    		<span>6</span>
	    	</li>
	    	<b>|</b>
	    	<li>
	    		<i class="iconfont icon-loundSpeaker"></i>
	    		请点红字
	    		<span>6</span>
	    	</li>
	    	<b>|</b>
	    	<li>
	    		<i class="iconfont icon-iconset0202"></i>
	    		请点红字
	    		<span>6</span>
	    	</li>
	    	<b>|</b>
	    	<li class="button1" style="color: red;font-weight: bolder;font-size: 16px;">商品列表</li>
	    	<li class="button2" style="color: red;font-weight: bolder;font-size: 16px;">添加新商品</li>
	    	<li>请点红字</li>
	    	<li>请点红字</li>
	    	<li>请点红字</li>
	    	<li>请点红字</li>
	    	<li>请点红字</li>
	    </ul>
    </div>
  	
  	<div class="aside">
  		<p>没加链接</p>
  		<ul>
  			<li>
  				<i class="iconfont icon-wenjian"></i>
  				<p>商品管理</p>
  				<i class="iconfont icon-jia1"></i>
  				<ul>
  					<li>商品列表</li>
  					<li>添加新商品</li>
  					<li>商品分类</li>
  					<li>用户评论</li>
  					<li>商品品牌</li>
  					<li>商品类型</li>
  					<li>商品回收站</li>
  					<li>图片批量处理</li>
  					<li>图片批量上传</li>
  					<li>图片批量导出</li>
  					<li>图片批量修改</li>
  					<li>生成商品代码</li>
  				</ul>
  			</li>
  			<li>
  				<i class="iconfont icon-wenjian"></i>
  				<p>促销管理</p>
  				<i class="iconfont icon-jia1"></i>
  				<ul>
  					<li>商品列表</li>
  					<li>添加新商品</li>
  					<li>商品分类</li>
  					<li>用户评论</li>
  					<li>用户评论</li>
  				</ul>
  			</li>
  			<li>
  				<i class="iconfont icon-wenjian"></i>
  				<p>订单管理</p>
  				<i class="iconfont icon-jia1"></i>
  				<ul>
  					<li>商品列表</li>
  					<li>添加新商品</li>
  					<li>商品分类</li>
  					<li>用户评论</li>
  					<li>用户评论</li>
  				</ul>
  			</li>
  			<li>
  				<i class="iconfont icon-wenjian"></i>
  				<p>广告管理</p>
  				<i class="iconfont icon-jia1"></i>
  				<ul>
  					<li>商品列表</li>
  					<li>添加新商品</li>
  				</ul>
  			</li>
  			<li>
  				<i class="iconfont icon-wenjian"></i>
  				<p>报表统计</p>
  				<i class="iconfont icon-jia1"></i>
  				<ul>
  					<li>商品列表</li>
  					<li>添加新商品</li>
  				</ul>
  			</li>
  			<li>
  				<i class="iconfont icon-wenjian"></i>
  				<p>文章管理</p>
  				<i class="iconfont icon-jia1"></i>
  				<ul>
  					<li>商品列表</li>
  					<li>添加新商品</li>
  				</ul>
  			</li>
  			<li>
  				<i class="iconfont icon-wenjian"></i>
  				<p>文章管理</p>
  				<i class="iconfont icon-jia1"></i>
  				<ul>
  					<li>商品列表</li>
  					<li>添加新商品</li>
  				</ul>
  			</li>
  			<li>
  				<i class="iconfont icon-wenjian"></i>
  				<p>文章管理</p>
  				<i class="iconfont icon-jia1"></i>
  				<ul>
  					<li>商品列表</li>
  					<li>添加新商品</li>
  				</ul>
  			</li>
  			<li>
  				<i class="iconfont icon-wenjian"></i>
  				<p>文章管理</p>
  				<i class="iconfont icon-jia1"></i>
  				<ul>
  					<li>商品列表</li>
  					<li>添加新商品</li>
  				</ul>
  			</li>
  			<li>
  				<i class="iconfont icon-wenjian"></i>
  				<p>文章管理</p>
  				<i class="iconfont icon-jia1"></i>
  				<ul>
  					<li>商品列表</li>
  					<li>添加新商品</li>
  				</ul>
  			</li>
  			<li>
  				<i class="iconfont icon-wenjian"></i>
  				<p>文章管理</p>
  				<i class="iconfont icon-jia1"></i>
  				<ul>
  					<li>商品列表</li>
  					<li>添加新商品</li>
  				</ul>
  			</li>
  			<li>
  				<i class="iconfont icon-wenjian"></i>
  				<p>文章管理</p>
  				<i class="iconfont icon-jia1"></i>
  				<ul>
  					<li>商品列表</li>
  					<li>添加新商品</li>
  				</ul>
  			</li>
  			<li>
  				<i class="iconfont icon-wenjian"></i>
  				<p>文章管理</p>
  				<i class="iconfont icon-jia1"></i>
  				<ul>
  					<li>商品列表</li>
  					<li>添加新商品</li>
  				</ul>
  			</li>
  			<li>
  				<i class="iconfont icon-wenjian"></i>
  				<p>文章管理</p>
  				<i class="iconfont icon-jia1"></i>
  				<ul>
  					<li>商品列表</li>
  					<li>添加新商品</li>
  				</ul>
  			</li>
  			<li>
  				<i class="iconfont icon-wenjian"></i>
  				<p>文章管理</p>
  				<i class="iconfont icon-jia1"></i>
  				<ul>
  					<li>商品列表</li>
  					<li>添加新商品</li>
  				</ul>
  			</li>
  			<li>
  				<i class="iconfont icon-wenjian"></i>
  				<p>文章管理</p>
  				<i class="iconfont icon-jia1"></i>
  				<ul>
  					<li>商品列表</li>
  					<li>添加新商品</li>
  				</ul>
  			</li>
  			<li>
  				<i class="iconfont icon-wenjian"></i>
  				<p>文章管理</p>
  				<i class="iconfont icon-jia1"></i>
  				<ul>
  					<li>商品列表</li>
  					<li>添加新商品</li>
  				</ul>
  			</li>
  			<li>
  				<i class="iconfont icon-wenjian"></i>
  				<p>文章管理</p>
  				<i class="iconfont icon-jia1"></i>
  				<ul>
  					<li>商品列表</li>
  					<li>添加新商品</li>
  				</ul>
  			</li>
  			<li>
  				<i class="iconfont icon-wenjian"></i>
  				<p>文章管理</p>
  				<i class="iconfont icon-jia1"></i>
  				<ul>
  					<li>商品列表</li>
  					<li>添加新商品</li>
  				</ul>
  			</li>
  			<li>
  				<i class="iconfont icon-wenjian"></i>
  				<p>文章管理</p>
  				<i class="iconfont icon-jia1"></i>
  				<ul>
  					<li>商品列表</li>
  					<li>添加新商品</li>
  				</ul>
  			</li>
  			
  		</ul>
  	</div>
  	
  	<div class="content">
  		<div class="admin_1">
  			<h4>ECHOP管理中心</h4>
  			<span></span>
  			<h5><span>no_license</span><a href="#">点击查看</a></h5>
  			<img src="/images/toulan4.png"/>
  			<img src="/images/toulan1.png"/>
  			<img src="/images/toulan2.png"/>
  			<img src="/images/toulan3.png"/>
  			<img src="/images/toulan5.png"/>
  		</div>
  	</div>
  </body>
</html>
<script type="text/javascript" src="/javascripts/jquery-1.11.3.js"></script>
<script type="text/javascript" src="/javascripts/admin.js"></script>
