body{background: url(../images/bc.jpg) no-repeat}
div{border-radius: 10px;
	height:300px ;
	width: 360px;
	background: rgba(255,255,255,.55);
	margin:200px auto;
	overflow: hidden;
}
ul{border-radius: 4px;
	width: 280px;
	height: 260px;
	margin:35px auto;
}
li i{
	padding:0 10px;
	font-size: 16px;
}
li {border-radius: 4px;
	border-bottom: 1px solid #ccc;
	background-color: #fff;
	height: 45px;
	line-height: 45px;
}
li>input{
	border: none;
	outline: none;
}
button{
    color: #FFF;
    width: 180px;
    text-align: center;
    background-color: #fc7878;
    border: 0;
    border-radius: 4px;
    height: 45px;
    width: 280px;
	line-height: 45px;
	margin-top: 20px;
	margin-bottom:14px;
}
p{
	display: inline-block;
	font-size: 12px;
}
a{
	font-size: 12px;
	padding-left: 20px;
}
